
/* 13. Implement CSS Properties: Opacity & The Alpha Channel, the Position Property, CSS Transitions & Google Fonts */

body {
    font-family: 'Roboto', sans-serif; /* Google Font */
}

.accordion-button {
    background-color: #3498db; /* Background color with opacity */
    color: #ffffff; /* Text color */
    transition: background-color 0.3s ease; /* CSS transition effect */
}

.accordion-button:hover {
    background-color: #2980b9; /* Hover state background color */
}

/* 14. Use Responsive CSS & Flexbox. Implement Flex-Direction, JustifyContent, Flex-Wrap, Align-Items, Align-Content & Align-Self. Use and add Media Queries. */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px; /* Установите желаемую максимальную ширину */
    width: 100%;
    margin: 0 auto; /* Центрируйте контейнер на странице с помощью автоматического отступа слева и справа */
}
.accordion {
    width: 80%;
    max-width: 800px;
    margin: auto;
}

@media (max-width: 768px) {
    /* Media query for smaller screens */
    .accordion {
        width: 90%;
    }
}
